.orderSummary {
    background: rgba(255, 153, 0, 0.3);
    padding: 16px;
    max-height: 100vh;
}
.delete-cart-btn, .review-btn {
    width: 100%;
    color: white;
    border-radius: 4px;
}

.delete-cart-btn {
    background: #FF3030;
    margin-bottom: 16px;
}
.review-btn {
    background: #F90; 
}