.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2B35;
    padding: 20px 100px 20px;
}
.header-container img {
    height: 40px;
}

.header-container nav  {
    display: flex;
}

.header-container nav a{
    font-size: 17px;
    font-weight: 600;
    font-family: helvetica;
    text-decoration: none;
    list-style-type: none;
    margin-right: 10px;
}